*{
    padding: 0 ;
}


.summertxt{
    font-size: 10px;

}
#shop
{
    font-size:10px;
    font-weight: 700;
}
#eng{
    font-size: 10px;
    
}

.navbar{
    padding: 0px 0px !important;
    
}
#eng{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1px;
}

.carousel-indicators [data-bs-target] {
    height: 10px !important;
    width: 10px !important;
    border-radius: 50%;
    border: solid 2px white !important;
    background-color: rgb(226, 104, 43) !important;
}
ul{
    list-style-type: none;
}

.list{
    margin-top: 4px;
}

.border{
    border: 1px solid black;
}

.std{
    border: none;
    background-color: red;
    border-radius: 5px;
}

.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 10px
}

.box{
    width: 50px;
    height: 50px;
    text-align: center;

}

.box h2{
    font-size: 20px;
    font-weight: 500;

}

.box small{
   font-size: 10px;
}

/* slider css */
.products{
    display: flex;
    overflow-x: auto;
    gap: 20px;
    margin-top: 10px;

 }

 .products img{
    max-width: 200px;
    max-height: 200px;
 }

 .products::-webkit-scrollbar{
    display: none;
 }

.products-slider-with-price{
    background-color: #fff;
    margin: 0px 30px;
    padding: 20px;
    margin-bottom: 15px;
 
  }
 
  .products-slider-with-price .products{
    display: flex;
    overflow-x: auto;
    gap: 10px;
    margin-top: 10px;
  }
 
  .product-card{
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-width: 210px;
    background: #fbfbfb;
  }
 
  .product-card img{
    width: 100px;
    margin:0 50px;
 
 
  }
 
  .product-offer p{
    background-color: #be0b3b;
    color:#fff;
    display: inline-block;
    padding:2px 5px;
    border-radius: 2px;
    margin: 8px 0;
    font-size: 13px;
  }
 
  .product-offer span{
    color:#be0b3b;
    font-weight:  500;
    font-size: 12px;
  }
 
  .product-price{
    color:gray;
    font-size:13px;
 
  }
 
 
  .product-card h4{
    color:#525252;
    font-size: 15px;
    font-weight:400
  }
 
  .viw{
    width: 190px;
    background-color: red;
    color: white;
    border:none;
    border-radius: 2px;
  }
 
